<!DOCTYPE HTML>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
      body {
      overflow	: hidden;
      padding		: 0;
      margin		: 50;
      background-color: #BBB;
      }
      #cam-container {
      width		: 640px;
      height		: 480px;
      }
    </style>

    <script src="static/virtualjoystick.js"></script>
    <script src="static/jquery-3.4.0.min.js"></script>
    <script src="static/bootstrap.min.js"></script>

    <script src="static/nxt_gamepad.js"></script>

    <link rel="stylesheet" href="static/bootstrap.min.css">

  </head>
  <body>

    <div class="bg-secondary mb-3" id="joystick-container">
    </div>
    <div class="collapse" id="cam-collapse">
      <iframe src="http://{{ip}}:8081" id="cam-container">
      </iframe>
    </div>
    <div class="btn-group-sm" role="group" aria-label="Basic example">
      <button type="button" onclick="create_ws()" class="btn btn-primary mb-1">
        Connect websocket
      </button>
      <button type="button" onclick="disconnect_ws()" class="btn btn-primary mb-1">
        Disconnect websocket
      </button>
      <button type="button" data-toggle="collapse" data-target="#cam-collapse" aria-expanded="false" aria-controls="cam-collapse" class="btn btn-primary mb-1">
        Toggle Cam
      </button>
      <button type="button" onclick="calibrate()" class="btn btn-primary mb-1">
        Calibrate
      </button>
    </div>

    <input id="el_ws_url" type="hidden" value="{{ws_url}}">

    <div class="row">
      <div class="col">
        <span class="font-weight-bold">Websocket state</span>
      </div>
      <div class="col">
        <span id="ws_offline" class="badge badge-danger">Offline</span>
        <span id="ws_online" class="badge badge-success" style="display: none;">Online</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="font-weight-bold">Websocket IP</span>
      </div>
      <div class="col">
        {{ip}}:9998
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="font-weight-bold">Session ID</span>
      </div>
      <div class="col">
        {{sessionID}}
      </div>
    </div>

    <nav class="nav nav-pills flex-column flex-sm-row mb-3">
      <a class="flex-sm-fill text-sm-center nav-link" href="/">Menu</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="joystick.html">Joystick</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="accelerometer.html">Accelerometer</a>
      <a class="flex-sm-fill text-sm-center nav-link active" href="gamepad.html">Gamepad</a>
    </nav>

  </body>
</html>
